# Add any directories, files, or patterns you don't want to be tracked by version control


# python #
######################
*.pyc
*.pyd

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# python Compiled log#
###################
*.err
*.log

.*