# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/

# Logs and test reports
*.log
TEST*.xml

# IDEs
.idea/
.vscode/
/.project
/.pydevproject

# Operating systems
.DS_Store
Thumbs.db

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
